/* 
color1 #112031
color2 #152D35
color3 #345B63
color4 #D4ECDD */

.wrapper {
    height: 1000px;
    width: auto;
    background-color: #b4d8c2;
}

.header .logo {
    height: 400px;
    width: 20%;
    background-color: aqua;
    float: left;
    background-image: url('../Images/fahim2.jpg');
    background-size: cover;
    transition: all 2s;
}

.header .logo:hover{
    transform: rotate(360deg);
}

.header .banner {
    height: 400px;
    width: 80%;
    background-color: #345B63;
    float: left;
    text-align: center;
}

.header h2, h3{
    margin-top: 5%;
    color: #D4ECDD;
    font-size: 2.2em;
}

.hometext .hometext, .hometext2{
    text-align: center;
    margin-top: 5%;
    color: #14c4e4;
    font-size: 2.2em;
}

.menu {
    height: 430px;
    width: 100%;
    background-color: #345B63;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.menu ul li {
    width: 25%;
    float: left;
}

.menu ul li a {
    background-color: #D4ECDD;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 6px 5px;
    border-radius: 10px 10px 20px 20px;
    transition: all 2s;
}

.menu ul li a:hover{
    border-radius: 20px 20px 0px 0px;
    background-color: aqua;
}